<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketgo.mapper.MovieMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ticketgo.entity.Movie">
        <id column="movie_id" property="movieId" />
        <result column="movie_name" property="movieName" />
        <result column="genre" property="genre" />
        <result column="duration" property="duration" />
        <result column="country" property="country" />
        <result column="director" property="director" />
        <result column="actor" property="actor" />
        <result column="picture" property="picture" />
        <result column="detail" property="detail" />
        <result column="pulish_date" property="pulishDate" />
        <result column="is_released" property="isReleased" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        movie_id, movie_name, genre, duration, country, director, actor, picture, detail, pulish_date, is_released
    </sql>

</mapper>
