<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticketgo.mapper.TicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ticketgo.entity.Ticket">
        <id column="ticket_id" property="ticketId" />
        <result column="user_id" property="userId" />
        <result column="showing_id" property="showingId" />
        <result column="seat_id" property="seatId" />
        <result column="price" property="price" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
        <result column="pay_method" property="payMethod" />
        <result column="validate_admin_id" property="validateAdminId" />
        <result column="validate_time" property="validateTime" />
        <result column="cancel_time" property="cancelTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ticket_id, user_id, showing_id, seat_id, price, status, create_time, pay_time, pay_method, validate_admin_id, validate_time, cancel_time
    </sql>

</mapper>
